---
---

$body-bg: #fafafa;

@import "variables";
@import "bootstrap";
@import "bootswatch";

#main {
  margin-top: 10px;
}

/*
.greeting {
  margin-top: 10px;
  color: #fefefe;
  background-color: #ae0000;
}
*/
