---
---

$body-bg: #fefefe;
$font-size-base: 18px;

$jumbotron-bg: #e6c7e3;
$jumbotron-heading-font-size: ceil(($font-size-base * 4)) !default;
$jumbotron-font-size: ceil(($font-size-base * 1.8)) !default;

@import "bootstrap";

#main {
  padding-top: 10px;
  padding-bottom: 10px;
}
